beautifulsoup4
bs4
colorgram.py
decorator
distlib
Flask
flatbuffers
gitdb
GitPython
gunicorn
h5py
ipykernel
ipython
ipywidgets
Jinja2
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
lxml
notebook
numpy
pandas
pickleshare
pipreqs
pyinstaller
pyinstaller-hooks-contrib
Pympler
pyparsing
pyrsistent
pywin32-ctypes
pywinpty
PyYAML
reqs
requests
scikit-learn
scipy
soupsieve
sqlparse
tmdbv3api
to-requirements.txt
toml
urllib3
xgboost
